{
    "root": true,
    "env": {
      "browser": true
    },
    "extends": [
      "plugin:vue/essential",
      "eslint:recommended"
    ],
    "parserOptions": {
      "parser": "babel-eslint"
    },
    "rules": {},
    "exclude": ["./vue.js"]
  }