<template>
  <div class="{{name}}-container">
    {{name}} page
  </div>
</template>

<script>
export default {
  data () {
    return {
      pageName: ''
    }
  },
  compute: {
  },
  created () {

  }
}
</script>
<style lang="less" scoped>
.{{name}}-container{

}
</style>
